html, body {
    height: 100%; 
    margin: 0; 
}

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure it covers at least the full height of the viewport */
}

.content{
    flex: 1;
}

.header2{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    margin:2rem;
    margin-left: 10rem;

}

.navigation{
    background-image: linear-gradient(0deg, #f1d559, #f5de15);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logoMain{
    width: 4rem;
    margin: 1rem;
    margin-left: 3rem;
}

.header{
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 3rem;
}

.btnNav{
    align-self: center;
    margin-right: 5rem;
    height: 3rem;
    width: 5rem;
    border-radius: 2rem;
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.btnNav:hover{
    background-color: #e4e4e4;
    color: #000000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: border 0.3s; /* Smooth transition for the border */
}

.buttonContainer{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dragging {
    border: 2px dashed #000000; /* Dashed blue border to indicate drop area */
    background-color: rgba(0, 123, 255, 0.1); /* Optional: light background color */
    border-radius: 3rem;
}

.footer{
    background-color: #000000;
    color: white;
    padding: .5rem;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-weight: bolder;
}

.uploadFileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.buttonContainer input {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff; /* Bootstrap primary (blue) color for the input */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonContainer input::file-selector-button {
    background-color: #28a745; /* Bootstrap success (green) color for the file selector button */
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.uploadbtn{
    background-color: #fbff00; /* Bootstrap primary (blue) color for the input */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-weight: bolder;
    padding: 1rem;
    align-self: center;
}

.uploadbtn:hover{
    background-color: #0056b3; /* Darker blue color on hover */
}

.uploadFileContainer input{
    display: none;
}

.error {
    color: red;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .mainContainer {
        flex-direction: column;
    }
    .buttonContainer{
        padding: 1rem;
    }
    .header2{
        margin-left: 1rem;
    }
    .header{
        margin-left: 1rem;
    }
    .btnNav{
        margin-right: 1rem;
    }
    .logoMain{
        margin-left: 1rem;
    }
    .uploadMobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .uploadMobile input{
        padding: 1rem;
        background-color: #d4d4d4;
        border-radius: 1rem;
    }
    .uploadbtn{
        padding: 1rem;
    }
  }
