.navigation{
    background-image: linear-gradient(0deg, #f1d559, #f5de15);
    display: flex;
    justify-content: space-between;
}

.logoMain{
    width: 4rem;
    margin: 1rem;
    margin-left: 3rem;
}

.header{
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 3rem;
}

.btnNav{
    align-self: center;
    margin-right: 5rem;
    height: 3rem;
    width: 5rem;
    border-radius: 2rem;
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Not made by me */
.uploadFileContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.buttonContainer input {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff; /* Bootstrap primary (blue) color for the input */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonContainer input::file-selector-button {
    background-color: #28a745; /* Bootstrap success (green) color for the file selector button */
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.error {
    color: red;
    margin-top: 20px;
  }
  
